{% extends "master.html" %}

{% block title %}
Rate My Date
{% endblock %}


{% block content %}
<div id="container">
    <div class="tweet">
        <div class="tweet-content">
            <img src="../static/images/anonymous_user.jpg" alt="Profile Picture">
            <div>
                <div class="username">John Doe</div>
                <div class="handle">@johndoe</div>
            </div>
        </div>
        <div class="tweet-text">
            This is feedback! 
        </div>
        <div class="tweet-actions">
            <span>Agree</span>
            <span>Disagree</span>
            <span>Comment</span>
        </div>
    </div>
    {% if user.is_authenticated %}
  <p>User is logged in: {{ user.username }}</p>
{% else %}
  <p>No user is logged in</p>
{% endif %}

</div>

{% endblock %}