{% extends "master.html" %}

{% block title %}
Search
{% endblock %}


{% block content %}
<div class="container-sp">
    <h1 class="h1-sp">Search Results</h1>
    
    <!-- If user is found -->
    <div class="search-results-sp">
        <div class="user-profile-sp">
            <h3>User Profile</h3>
            <p>Name: John Doe</p>
            <p>Instagram: @johndoe123</p>
            <p>Facebook: <a href="#">John Doe</a></p>
            <a href="/profile" class="view-profile-btn-sp">View Profile</a>
        </div>
        
        <div class="previous-comments-sp">
            <h2>Previous Twitter Comment Posts</h2>
            <div class="comment">
                <p>User123: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="comment">
                <p>User456: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <!-- Add more comments as needed -->
        </div>
    </div>
    
    <!-- If user is not found -->
    <div class="not-found-sp">
        <p>No results found. Please try searching for the person's name, Instagram, and Facebook link.</p>
        <p>If still no results, you can create a profile for the person.</p>
        <a href="/create_person" class="create-profile-btn">Create Profile</a>
    </div>
</div>

    <!-- More tweets can be added similarly -->
    
</div>
{% endblock %}
    
    
    